@{
	Layout = null;
}

@model FP.DTOLayer.ResetPasswordDTO
<div class="wrapper">
	<div class="title-text">
		<div class="title signup">
			Reset Your Password!
		</div>
	</div>
	<div class="form-container">
		<div class="form-inner">
			<form asp-action="SendSms" method="post" class="signup">
				<div class="field">
					<input asp-for="Username" type="text" placeholder="Enter your Username..." required>
				</div>
				<div class="field">
					<input asp-for="EmailAddress" type="text" placeholder="Enter Email Address for Send Code..." required>
				</div>
				<div class="field btn">
					<div class="btn-layer"></div>
					<input type="submit" value="Send">
				</div>
			</form>
		</div>
	</div>
	<p class="text-danger temp-data">@TempData["sms"]</p>
</div>

<link rel="stylesheet" href="~/css/login-signin.css">