@{
	Layout = null;
}

@model FP.DTOLayer.ResetPasswordDTO

<div class="wrapper">
	<div class="title-text">
		<div class="title signup">
			Reset Your Password!
		</div>
	</div>
	<div class="form-container">
		<div class="form-inner">
			<form asp-action="ResetPassword" method="post" class="signup">
				<div class="field">
					<input asp-for="NewPassword" id="new-password" type="password" placeholder="New Password..." required>
					<span class="toggle-password" onclick="togglePasswordVisibility('new-password')"><i class="fas fa-eye"></i></span>
				</div>
				<div class="field">
					<input asp-for="RepeatPassword" id="repeat-password" type="password" placeholder="Repeat Password..." required>
					<span class="toggle-password" onclick="togglePasswordVisibility('repeat-password')"><i class="fas fa-eye"></i></span>
				</div>
				<div class="field btn">
					<div class="btn-layer"></div>
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<p class="text-danger temp-data">@TempData["res"]</p>
</div>

<style>
	.field {
		position: relative;
	}

	.toggle-password {
		position: absolute;
		top: 50%;
		right: 10px; /* Adjust as needed */
		transform: translateY(-50%);
		cursor: pointer;
	}
</style>

<script>
	function togglePasswordVisibility(inputId) {
		var passwordInput = document.getElementById(inputId);
		var toggleButton = document.querySelector('[onclick="togglePasswordVisibility(\'' + inputId + '\')"]');
		if (passwordInput.type === "password") {
			passwordInput.type = "text";
			toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
		} else {
			passwordInput.type = "password";
			toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
		}
	}
</script>

<link rel="stylesheet" href="~/css/login-signin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
