@{
	Layout = null;
}

@model FP.DTOLayer.ResetPasswordDTO
<div class="wrapper">
	<div class="title-text">
		<div class="title signup">
			Reset Your Password!
		</div>
	</div>
	<div class="form-container">
		<div class="form-inner">
			<form asp-action="ResetPassword" method="post" class="signup">
				<div class="field">
					<input asp-for="NewPassword" type="text" placeholder="New Password..." required>
				</div>
				<div class="field">
					<input asp-for="RepeatPassword" type="text" placeholder="Repeat Password..." required>
				</div>
				<div class="field btn">
					<div class="btn-layer"></div>
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<p class="text-danger temp-data">@TempData["res"]</p>
</div>

<link rel="stylesheet" href="~/css/login-signin.css">