@model List<FinalProjectBase.Models.PostViewModel>

<div class="container">
	<div class="mb-3">
		<a class="btn btn-primary" asp-action="Create" asp-controller="AdminPost" role="button">Create New Post</a>
	</div>
	<table class="table table-bordered table-striped small-table">
		<thead style="background-color: #333; color: white;">
			<tr>
				<th scope="col">Content of Post</th>
				<th scope="col">Images</th>
				<th scope="col" class="action-column">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var post in Model)
			{
				<tr>
					<td class="custom-break align-middle">@post.Content</td>
					<td class="align-middle text-center">
						<div class="d-flex justify-content-center">
							@foreach (var image in post.Images)
							{
								<img src="@("/images/posts/" + image.ImageName)" class="rounded float-start img-thumbnail img-fluid custom-image" style="border-radius: 1.25rem !important;" alt="">
							}
						</div>
					</td>
					<td class="align-middle">
						<form id="formForDelete@(post.Id)" asp-route-id="@post.Id" asp-action="Delete" asp-controller="AdminPost">
							<div class="dropdown">
								<button type="submit" class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Select Action
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item update-button" asp-action="Update" asp-route-id="@post.Id">Update</a></li>
									<li>
										<button type="button" class="dropdown-item delete-button" id="deleteButton@(post.Id)" onclick="ExecuteAlert@(post.Id)()">Delete</button>
									</li>
								</ul>
							</div>
						</form>
						<script>
                            function ExecuteAlert@(post.Id)() {
                                Swal.fire({
                                    title: "Do you want to delete?",
                                    showDenyButton: true,
                                    showCancelButton: true,
                                    confirmButtonText: "Delete",
                                    denyButtonText: `Go Back`
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        Swal.fire({
                                            title: "Deleted!",
                                            icon: "success",
                                            timer: 1000,
                                            showConfirmButton: false,
                                        }).then(() => {
                                            var form = document.getElementById("formForDelete@(post.Id)");
                                            form.submit();
                                        });
                                    } else if (result.isDenied) {
                                        // Handle denial if needed
                                    }
                                });
                            }
						</script>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>





@section imageCss{
	<link href="~/Admin/css/custom-image.css" rel="stylesheet">
}

@section indexJs{
	<script src="~/Admin/js/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
}

