@*@using DataAccessLayer.Entities
@model List<Product>*@

<!--<div class="container">
	<div class="mb-3">
		<a class="btn btn-primary" asp-action="Create" role="button">Create</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Product Name</th>
				<th scope="col">Description</th>
				<th scope="col">Actions</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>
						<div class="dropdown">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Select Action
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li><a class="dropdown-item" asp-action="Update" asp-route-id="@item.Id">Update</a></li>
								<li><a class="dropdown-item" id="deleteButton" item-id="@item.Id">Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>

@section SweetJs{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script>
		document.querySelectorAll('#deleteButton').forEach(function (deleteButton) {
			deleteButton.addEventListener('click', function (event) {
				event.preventDefault();
				var modelId = this.getAttribute('item-id');
				Swal.fire({
					title: "Do you want to delete?",
					showDenyButton: true,
					showCancelButton: true,
					confirmButtonText: "Delete",
					denyButtonText: `Go Back`
				}).then((result) => {
					if (result.isConfirmed) {
						fetch(`product/delete/${modelId}`, {
							method: 'POST'
						}).then(response => {
							if (response.ok) {
								Swal.fire("Deleted!", "", "success");
								setTimeout(function () {
									window.location.reload();
								}, 1000);
							} else {
								Swal.fire("Error!", "Failed to delete", "error");
							}
						});
					} else if (result.isDenied) {
						fetch(`product/index`, {
							method: 'GET'
						}).then(response => {
							if (response.ok) {
								console.log("GET request successful");
							} else {
								console.error("Failed to send GET request");
							}
						});
					};
				});
			});
		});

	</script>
}-->
