@{
	Layout = null;
}

@model SignUpViewModel
<div class="wrapper">
	<div class="title-text">
		<div class="title signup">
			Register
		</div>
	</div>
	<div class="form-container">
		<div class="form-inner">
			<form asp-action="SignUp" asp-controller="SignUp" method="post" class="signup">
				<div class="field">
					<input asp-for="FirstName" type="text" placeholder="First Name" required>
					<span asp-validation-for="FirstName" style="color: red"></span>
				</div>
				<div class="field">
					<input asp-for="LastName" type="text" placeholder="Last Name" required>
					<span asp-validation-for="LastName" style="color: red"></span>
				</div>
				<div class="field">
					<input asp-for="PhoneNumber" type="tel" placeholder="Phone Number" required>
					<span asp-validation-for="PhoneNumber" style="color: red"></span>
				</div>
				<div class="field">
					<input asp-for="Mail" type="text" placeholder="Email Address" required>
					<span asp-validation-for="Mail" style="color: red"></span>
				</div>
				<div class="field">
					<input asp-for="Username" type="text" placeholder="Username" required>
					<span asp-validation-for="Username" style="color: red"></span>
				</div>
				<div class="field">
					<input asp-for="Password" id="signup-password" type="password" placeholder="Password" required>
					<span class="toggle-password" onclick="togglePasswordVisibility('signup-password')"><i class="fas fa-eye"></i></span>

					<span asp-validation-for="Password" style="color: red"></span>
				</div>

				<div class="field btn">
					<div class="btn-layer"></div>
					<input type="submit" value="SignUp">
				</div>
			</form>
		</div>
	</div>
</div>
<link rel="stylesheet" href="~/css/login-signin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
	.field {
		position: relative;
	}

	.toggle-password {
		position: absolute;
		top: 50%;
		right: 10px; 
		transform: translateY(-50%);
		cursor: pointer;
	}
</style>

<script>
	function togglePasswordVisibility(inputId) {
		var passwordInput = document.getElementById(inputId);
		var toggleButton = document.querySelector('[onclick="togglePasswordVisibility(\'' + inputId + '\')"]');
		if (passwordInput.type === "password") {
			passwordInput.type = "text";
			toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
		} else {
			passwordInput.type = "password";
			toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
		}
	}
</script>